body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
}

article {
    width: 20rem;
    height: 20rem;
    position: relative;
    
    /* Fortsätt */

}

/* Skapa din animation här */
@keyframes spin {

}

article aside {
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* Längre ner hittar du stylingen för varje enskild sida av kuben */

article aside.side-1 {

}
article aside.side-2 {

}
article aside.side-3 {

}
article aside.side-4 {

}
article aside.side-5 {

}
article aside.side-6 {

}

















































/* article aside.side-1 {
    background: rgba(255,255,0,.5);
    transform: translate3d(50%,0,0) rotateY(90deg);
}
article aside.side-2 {
    background: rgba(51, 0, 255, 0.5);
    transform: translate3d(-50%, 0, 0) rotateY(-90deg);
}
article aside.side-3 {
    background: rgba(255, 0, 174, 0.5);
    transform: translate3d(0,50%,0) rotateX(90deg);
}
article aside.side-4 {
    background: rgba(255, 100, 0, 0.5);
    transform: translate3d(0,-50%,0) rotateX(-90deg);
}
article aside.side-5 {
    background: rgba(0, 255, 162, 0.5);
    transform: translate3d( 0, 0, -10rem);
}
article aside.side-6 {
    background: rgba(255, 0, 0, 0.5);
    transform: translate3d(0,0,10rem);
} */